.class-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student-list{
    width: 79vw;
    height: 35vh;

    overflow-y: scroll;
}

.student-item{
    background: #e0e0e0;
    border-radius: 1em;
    margin: 1em;
    padding: 2em;
    font-size: large;
  
    flex-grow: 1;
    max-height: 15vh;
  
    display: flex;
    flex-direction: column;
  
    text-decoration: none;
    transition: background 0.2s ease;
      -webkit-transition: background 0.2s ease;
      -moz-transition: background 0.2s ease;
      -o-transition: background 0.2s ease;
      -ms-transition: background 0.2s ease;
}

.student-item:hover {
background: #d8d8d8;
}