.profile-contents{
    
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    height: 55vh;
}

.profile-btn{
    max-width: 10vw;
    align-self: self-end;
}


.profilePanel {
    padding: 3em;

    background-color: rgb(244, 244, 244);
    margin: auto;
    position: absolute;
    height: 70vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40vw;

    border-radius: 2em;

    overflow-x: hidden;
    overflow-y: hidden;
}

.profile-scroll{


    
    width: 35vw;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}



/* CSS rule for profile picture */
.profilePicture {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto 20px;
}

/* Hover on the pfp and you can use file explorter to upload a cool picture (must be cool) */

.editProfilePicture {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #555;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.profilePicture:hover .editProfilePicture {
    display: block;
}

.form-label{
    display: flex;
    flex-direction: column;

    max-width: 25vw;

    padding: 0.5em;
    
}

.align-form{
    display: flex;
    flex-direction: row;
}